{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meeting</title>
        <link rel="shortcut icon" href="{% static 'entry/images/favicon.ico' type='image/x-icon' %}">
        <script type="text/javascript">

            var occupied = "{{occupied}}";
            console.log('OCC' + occupied);

            if (occupied === 'true') { fetch('http://localhost:8081/light?led=002050').catch(function() {}) } else
            { fetch('http://localhost:8081/light?led=000000').catch(function() {})}
 
            if (!localStorage.getItem('clockdisplay')) {
                    localStorage.setItem('clockdisplay', 'false');
            }

            var showclock = localStorage.getItem('clockdisplay');

            document.addEventListener('DOMContentLoaded', function() {  
                var x = document.getElementById('TouchClock'); 
                x.style.opacity = (showclock === 'true') ? '1.0' : '0.0';
                
                x.onclick = function () { 
                    if (showclock === 'true') { x.style.opacity = '0.0' ; showclock =  'false'; localStorage.setItem('clockdisplay', 'false') } 
                    else { x.style.opacity = '1.0' ; showclock =  'true'; localStorage.setItem('clockdisplay', 'true')} 
                };   
            });

            function showTime(){
                var date = new Date();
                document.getElementById("TouchClock").innerText = date.toLocaleTimeString("en-uk", 
                    { hour12: true, hour: "numeric", minute: "2-digit"
                    } );
            }

            document.addEventListener('DOMContentLoaded', function() { showTime(); });

            setTimeout(function() {
                location.reload();
            }, 30000);

        

        </script>
        <link href="{% static 'signage/style3.css' %}" rel="stylesheet" type="text/css" > 
    </head>

    <body background="{% static 'signage/dark.jpg' %}">
        <h1>Customer Solution Center</h1>
<!--         <h2>{{ custname }}</h2> -->
        <div class="middle"><p>{{ custname }}</p></div>
        <div ><p id="footerright">{{roomname}}</p></div>
        <div ><p id="TouchClock"></p></div>    
    </body>
</html>