{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meeting</title>
  <script type="text/javascript">
    fetch('http://localhost:8081/light?led=FF0000'.catch(function() {}))

  </script>
  <link href="{% static 'signage/style3.css' %}" rel="stylesheet" type="text/css" > 
</head>
<body background="{% static 'signage/dark.jpg' %}">

     <body background="{% static 'signage/dark.jpg' %}">
        <h1>Customer Solution Center</h1>
        <div class="middle"><p>wrong URL</p></div>
        <div ><p id="footerright"></p></div>
        <div ><p id="TouchClock"></p></div>    
    </body>



</body>
</html>