{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Meeting - Free</title>

    <script type="text/javascript">
        fetch('http://localhost:8081/light?led=000000')
        .then(function() {
            // success response data
        })
        .catch(function() {
            //server returns any errors
        });
        setTimeout(function() {
            location.reload();
        }, 30000);
    </script>

    <link href="{% static 'signage/style3.css' %}" rel="stylesheet" type="text/css" > 
</head>

<body background="{% static 'signage/dark.jpg' %}">
    <h1>Customer Solution Center</h1>
    <h2>{{message}}</h2>
    <div class="footer">
            <p>{{roomname}}</p>
        </div>
</body>
</html>