
body {
    background-color: white;

    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }

h1 {
/*    color: rgb(127, 172, 224);*/
color: rgb(255, 255, 255);
    margin-left: 0px;
    text-align: center;
    font-size:6vw;
    padding : 0px 0px 0px 0px;
    font-weight: normal;
    font-family: "Arial", "Helvetica", "sans-serif";
}

h2 {
  color: white;
  margin-left: 0px;
  text-align: center;
  font-size:10vw;
  padding : 0px;
  font-weight: normal;
  font-family: "Arial", "Helvetica" , sans-serif;
}


.responsive {
  width: 100%;
  height: auto;
}


#TouchClock {
  position: fixed;
  bottom: 0%;
  left: 0%;
  line-height: 6vw;
  height : 6vw;
  width: 100%;
  text-align: left;  
  transform: translateX(00%) translateY( 0%);
  color: hsl(204, 99%, 54%);
  font-size: 4vw;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  letter-spacing: 1px;
  background : rgba(255,0,0,0);
  border : none;    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: rgb(127, 172, 224);
  text-align: right;
  font-size:6vw;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}


/* Top left text */
.top-center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: rgb(0, 125, 184);
  font-size:6vw;
  /*padding : 25px 25px 25px 25px;*/
  font-family: "Helvetica Neue", "Arial", sans-serif;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size:6vw;
  padding : 25px 25px 25px 25px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
} 

p {
    color: white;
    margin : 8px 8px;
}

form {
    color: white
}

input[type=file] {
    background-color: rgb(163, 76, 175);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 8px 8px;
    cursor: pointer;
    width: 100%;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(53, 189, 121);
    color: white;
    padding: 32px 64px;
    text-decoration: none;
    margin: 32px 32px;
    cursor: pointer;
  }